<header class="navbar navbar-bright navbar-expand-lg navbar-fixed-top" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink='books'>Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='authors'>authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf='_auth.isAdmin()' routerLink='addbook'>add book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf='_auth.isAdmin()' routerLink='addauthor'>add Author</a>
        </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)='logoutUser()' href="">LogOut </a>
        </li>
      </ul>
    </nav>
  </div>
</header>



        <router-outlet></router-outlet>


  <hr>

