<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>{{title}}
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12 text-center">
              <a href="/" class="shilib">ShiLib <i class="fas fa-book-reader"></i></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div>
  </div><!-- /cont -->

</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">
          <form method="POST" class="form-signin" (ngSubmit)='add()' autocomplete="off">
            <label for="name">Full Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]= 'authorItem.name' required><br>
            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" class="form-control" placeholder="Date of Birth" [(ngModel)]= 'authorItem.dob' required><br>
            <label for="work">Famous work</label>
            <input type="text" name="work" class="form-control" placeholder="Name of the Books" [(ngModel)]= 'authorItem.work' required><br>
            <label for="awards">Awards (if any)</label>
            <input type="text" class="form-control" placeholder="eg:2020 Nobel Prize Winner, 2020 Rajya Puraskar.. etc." name="awards" [(ngModel)]= 'authorItem.awards'><br>
            <label for="pic">Photo</label>
            <input type="text" class="form-control" placeholder="Image URL" name="pic" [(ngModel)]= 'authorItem.pic' required><br>
            <label for="description">Small Description</label><br>
            <textarea name="description" cols="30" rows="3" class="form-control" [(ngModel)]= 'authorItem.description'></textarea><br><br>
            <button type="submit" class="btn btn-primary form-control">Add </button><br>
            <button type="button" class="btn btn-warning form-control">Cancel</button>
          </form>
          <hr>
        </div>
      </div>

    </div><!--/col-12-->
  </div>
</div>

