<!-- Intro -->
<section>
  <div class="container-fluid head">
      <nav class="navbar navbar-expand-sm navbar-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="signin">Sign In</a>
              </li>
            </ul>
          </div>
      </nav>
      <div class="">
          <h1 class="hi">Hi! I'm ShiLib.</h1>
          <p class="sub-head">A bibliophile’s paradise.</p><br>
          <p id="appPara">Get the app today! or use it in your web browser for <span class="free">FREE!</span></p>
          <button class="btn btn-secondary btn-lg download-btn"><i class="fab fa-google-play"></i> Download</button>
          <button class="btn btn-light btn-lg download-btn"><i class="fab fa-apple"></i> Download</button>
          <img src="assets/images/mobilebook.jpg" alt="" class="mobile">
      </div>
  </div>


</section>
<!-- /Intro -->

<!-- Book Shelf -->
<section class="shelf">
<p class="sub-head">Trusted by millions of readers across Kerala and all around the world.</p>
<img class="frontBooks" src="assets/images/books.png" alt="book shelf">
<h2 class="h2tag">Your guide to reading Happiness.</h2>
<hr class="text-center">
<p class="madelove">Brought to you by NAS Company and build with 💖 by Shighinas. <br> Warm, Personal and easy to use, ShiLib is great for users of all ages.</p>
</section>
<!-- /Book shelf -->

<!-- Features -->
<section class="features">
<div class="row">
  <div class="col-lg-4 feature-box">
    <i class="fas fa-desktop icons"></i><i class="fas fa-mobile-alt icons"></i>
    <h3>Read across devices.</h3>
    <p>Reading progress sync across your devices.</p>

  </div>
  <div class="col-lg-4 feature-box">
    <i class="fas fa-plug icons"></i>
    <h3>Offline access</h3>
    <p>Download e-books or audio-books for offline reading.</p>
  </div>
  <div class="col-lg-4 feature-box">
    <i class="fas fa-file-import icons"></i>
    <h3>Send to Kindle.</h3>
    <p>If you prefer reading on your Kindle, ShiLib can send your library books to it.</p>
  </div>
</div>
<div class="container-fluid text-center add">
  <h2 class="start">Then, What are you waiting for! <br> Hit the button below and start exploring.</h2>
  <a routerLink="signin"><button class="btn btn-outline-light btn-lg sread">Start Reading</button></a>
</div>
</section>
<!-- /Features -->


