<div class="panel">
  <div class="panel-body">



    <!--/stories-->
      <div class="row ">
          <br>
          <div class="col-md-2 col-sm-3 text-center">
          <a class="story-title" href="#"><img alt="" [src]="author.pic" style="width:100px;height:100px" class="img-circle"></a>
          </div>
          <div class="col-md-10 col-sm-9">
          <h3>Author of {{author.work}} </h3>
          <div class="row">
              <div class="col-xs-9">
              <h4><span class="label label-default">{{author.awards}} </span></h4><h4>
              <small style="font-family:courier,'new courier';" class="text-muted">Born: {{author.dob}}  • </small>
              </h4></div>
              <div class="review">
                <p>{{author.description}}</p>
              </div>
              <div class="col-xs-3"></div>
          </div>
          <br><br>
          </div>
      </div>
      <hr>


    <!--/stories-->




  </div>
</div>
